google==3.0.0
google-cloud-storage==1.35.0
jupyter==1.0.0
mat73==0.46
matplotlib==3.3.3
numpy==1.19.2
pandas==1.1.5
pylint==2.6.0
pyod==0.8.5
pytest==6.2.1
scipy==1.5.4
sklearn==0.0
tensorboard==2.4.0
torch==1.7.0
torchvision==0.8.0
tqdm==4.46.0
umap-learn==0.4.6
unlzw3==0.2.1
